/* Top Navigation */
.topnav {
  background-color: #ffffff;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(255, 37, 37);
}

.topnav a.active {
  background-color: #dfebeb;
  color: #fd8a8a;
}

/* Header for Home Page */
.macleansheader {
  line-height: 13vw;
  display: flex;
  height: 80vh;
  padding-left: 8vw;
  justify-content: flex-start;
  align-items: flex-end;
  margin: auto;
  text-shadow: #000000 0px 0 60px;
  text-align: left;
  color: aliceblue;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15vw
}

/* Home Page Video */
.fullscreen-bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.fullscreen-bg {
  width: 100vw; 
  height: 100vh;
  object-fit: cover;
}