/* Top Navigation */
.topnav {
  margin-top: 2vh;
  margin-right: 2vh;
  padding-top: 10px; 
  padding-bottom: 10px;
  padding-left: 2vw;
  padding-right: 2vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: flex-end ;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-radius: 2vh;
  background-color: rgba(99, 99, 99, 0.3);
  backdrop-filter: blur(10px);
  gap: 2vw;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  border-radius: 2vh;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(0, 255, 0, 0.1);
  color: rgb(255, 255, 255);
}

.topnav a.active {
  background-color: rgb(0, 255, 0, 0.3);
  color: #ffffff;
}

/* Header for Home Page */
#macleansheader {
  line-height: 13vw;
  display: flex;
  height: 80vh;
  padding-left: 8vw;
  justify-content: flex-start;
  align-items: flex-end;
  margin: auto;
  text-shadow: #000000 0px 0 60px;
  text-align: left;
  color: aliceblue;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15vw
}

/* Home Page Video */
.fullscreen-bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.fullscreen-bg {
  width: 100vw; 
  height: 100vh;
  object-fit: cover;
}

/* Body Background */
.body-bg {
  background-color: #0D1117;
}

/* Headers */
.header {
  line-height: 8vw;
  text-align: center;
  color: white;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 10vw;
}

.header2 {
  line-height: 8vw;
  text-align: center;
  color: white;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 3vw;
}

.italicheader {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: italic;
  letter-spacing: 0vw;
}

/* Images */
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70vw;
  height: auto;
}

.image-left {
  width: 30vw;
  height: auto;
  margin-left: 4vw;
  border-radius: 4vw;
}

.image-right {
  width: 30vw;
  height: auto;
  margin-right: 4vw;
  border-radius: 4vw;
}

#diary {
  filter: drop-shadow(0 5vw 6vw rgba(157, 214, 255, 0.5));
}

#phone {
  filter: drop-shadow(0 5vw 6vw rgba(157, 214, 255, 0.5));
}

/* Paragraphs */
p {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 2.5vw;
  color: white;
  margin-left: 5vw;
  margin-right: 5vw;
}

.headerdesc {
  margin-left: 15vw;
  margin-right: 15vw;
}

/* Containers/Divs */
.container {
  display: flex;
  align-items: center;
}

.side-content {
  flex: 1;
}